<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTSistemas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BTSistemas.My.MySettings.mroticaConnectionString"
            connectionString="Data Source=NS1;Initial Catalog=mrotica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTSistemas.My.MySettings.mroticaConnectionString1"
            connectionString="Data Source=DESENVOLVIMENTO\SQL2008R2;Initial Catalog=mrotica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BTSistemas.My.MySettings.winlaboConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=winlabo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="winlaboConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.\sqlexpress;integrated security=SSPI;initial catalog=winlabo" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NReco.PdfGenerator" publicKeyToken="231663d50a41b451" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.15.0" newVersion="1.1.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <BTSistemas.My.MySettings>
      <setting name="mrotica_2008_anamaria_Service" serializeAs="String">
        <value>http://www.oticasanamaria.net.br/wins/service.asmx</value>
      </setting>
      <setting name="mrotica_labonorte_cliente_Service" serializeAs="String">
        <value>http://www.labonorte.com.br/mroticaservicelabo/service.asmx</value>
      </setting>
    </BTSistemas.My.MySettings>
  </applicationSettings>
</configuration>
